#logo{
  font-family:Tahoma,Helvetica Neue,Verdana;
  color:#FF76C5;
}
p, .subhead {
 font-family:Tahoma,Helvetica Neue,Verdana;

}
.subhead{
	color: #0575FF;
}
#prototypespan{
	background-color:#B7FFFF;
	height: 95%
	text-align:right;
	color: #FF0AD0;
	font-family:Tahoma,Helvetica Neue,Verdana;
	font-size: 12px;
	font-weight:bold;
}

.bibtextclass{
	height: 25px;
	border-radius: 5px;
	background-color: #F5FFF6;
}
.bibp{
	//font-family: Georgia, Bookman, Garamond, Serif;
	font-size: 11px;
	font-style: italic;
	margin-top: 6pt;
	margin-bottom: 6pt;
	
}
#topicsdiv{
 background-color:#C6FFE2;
}
.topicdiv{
	width: 300px;
	height: 75px;
	max-height:400px;
	border: 1px solid gray;
	box-shadow:rgba(0,0,0,0.5) 0px 0px 10px;
	float:left;
	overflow: scroll;  
	padding: 8px;
}
.topictextclass{
	width:100%;
	background-color: "#C0DFFF";
	height: 40px;
	font-family: Tahoma, Helvetica Neue, Verdana;
	text-align:center;
	border: 3px solid #cccccc;
	padding: 5px;
	font-size:12px;
}
.topicboxh1{
	
	font-size: 14px;
	text-align:center;
	color:blue;
	background-color: yellow;
	position:relative;
	width: 100%;
}
.topicboxp, .topicboxbib, .topicboxtext{
	font-size: 10pt;
	font-family: Georgia, Bookman, Garamond,Times Roman, Serif;
}
.topicboxh1text{
	font-size: 14pt;
}
.topicboxbib{
	color:gray;
}
.savedtopicbox{
	font-size:10pt;
	color:gray;
	float: right;
}
.unsavedtopicbox{
	font-size:10pt;
	color:blue;
	text-decoration: underline;
	float: right;
	}
.minimizebtn, .minimizeBibsbtn, .deletetopicboxbtnclass, .topicboxtextarea{
	font-size:10pt;
	float:right;
}
.topicboxtextarea{
  width: 200px;
  height: 25px;
  background-color:#FF6;
}
.dragIcon{
   font-size:16pt;
   font-family: Georgia, Times Roman, Serif;
   background-color: "#B0FFB4";
}
textarea {
	font-size:10pt;
	height:10pt;
}
#stackviewdiv{
 width:500px;
 height: 100%;
}
#multiuploaddiv{
	background-color: #C2F2DF;
}
.uploadclass{
	font-size:11pt;
	font-family: Tahoma,Helvetica Neue,Verdana,Verdana,Sans Serif;

}
#loginregdiv{
	background-color: #AFFFB9;
	font-size:10pt;
	font-family: Tahoma,Verdana,Verdana, Sans Serif;
}
#logindisplayclass{
	color: #C2CDFF;
}
#regdiv{
	background-color:#D8FFA5;
}
.smalltext, .smalltextupdate, .smalltextblue, #footer{
	font-size: 10pt;
	color: white;
	font-family: Tahoma, Verdana,Verdana, Sans Serif;
}
.smalltextupdate{
  color: yellow;
}
.smalltextblue{
  color: #308689;
}
.smallbutton{
  background-color: #18229D;
  height: 25px;
}
.showhidedivpclass{
   color: #FFFFFF;
   font-size: small;	
}
.showhidedivclass, #footer{
	border-bottom-color: #FFFFFF;
	background-color: #240089;
}
#newprojectspan{
	background-color: #C6E2FF;
}
.scratchpaddivclass{
	border-color: #00480A;
	border-width:1px;
	background-color: #E9FFEC;
	width:90%;
	display: none;
}
.scratchpadspanclass{
		font-size:10pt;
}
.scratchpadfootnoteclass{
	font-size:8pt;
}
.scratchpadh2class{
	font-family:Verdana, Helvetica, sans-serif;
	font-size: 12pt;
	color:Green;
}
.scratchpadedit{
	width:100%;
	height: 400px;
	color: red;
  
}
#stackviewdiv{
  width:400px;
}

.configuredivclass{
	background-color: Gray;
}
.bookadddivclass{
	background-color: #FFFAD8;
}
.noteadddivclass{
	background-color: Red;
}
.notelisttableclass{ /* Table with note rows */
	/* border-width: 1px; */
	
}
.notelistrow{
	/*background-color: #F9E7FF;
	border: 1px solid white;*/
	
	background-color: white;
	
}
.biblioplaintextareaclass{
	background-color: #DDDDDD;
	width: 400px;
	height: 30px;
	font-size: 8pt;
	font-family:Geneva,Helvetica, san-serif;
}

.notespandidcheckclass{
	width:20px;
}
.noteratingcellclass{
	width:60px;
}

.notetd{
	background-color: #FFF8F4;
	border-radius: 10px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5 px;
	padding-bottom: 5px;
	box-shadow:rgba(0,0,0,0.5) 0px 0px 8px;
	
	
}

.notecontentclass,.notecontentclassediting{
	
	color: Black;
	/*background-color: #D6EAEF;*/
	font-family: "Georgia";
	font-size: 10pt;
	width: 100%;
	height: auto;	
	float:right;	
}


.paddedcell{
  float:left;
}
.notecontentclassediting {
	background-color: #353A3C;
	color: #C7D9DE;
	font-family: "Georgia";
	font-size: 10pt;
	width: 100%;
	height: auto;
	border-radius: 8px;
	border-width:0px;
}
.notepageclass{
	width: 30pt; 
	font-family: Verdana;
	font-size: 9pt;
	color: #336666;
	border: 1px solid #948C95;
	border-radius: 5px;
}
.noteorderclass{
	/*width: 15pt*/ 
	font-family: Verdana;
	font-size: 9pt;
	color: #336666;
	/*border: 1px solid #948C95;
	border-radius: 5px; */
	text-align: center;
}
.notetagclass{
	/* width: 100pt;*/ 
	color: #FF00DD;
	font-family: Verdana;
	font-size: 9pt;
}
.notetitleclass{
	font-family: Verdana,Helvetica Neue,Verdana;
	font-size: 8pt;
	color: #343434;
}
.inditag{
	box-shadow:rgba(0,0,0,0.5) 0px 0px 8px;
	border-radius: 5px;
	color:#2A3C2E;
	background-color:#95D5A3;
	padding: 2px;
}


#bookstable{
	width:99%;
	display:none;
}

#booktableobj{
	width:99%;
}

#noteslisttable{
	width: 99%;
	border-width:1px;
	border-color: black;
	border-style: solid;
}
.notestableheaderclass{
	font-family: Helvetica Neue, Helvetica, Verdana, Sans Serif;
	font-size: 14pt;
	color: #364E6A;
	background-color: #B8B5E3; 
	text-align:center;
}
.metatitle{
	color:#737D96;
	font-family: Helvetica Neue, Helvetica, Verdana, Sans Serif;
	font-size: 18pt;
	background-color: #B8B5E3; 
	text-align:center;
}
.notestabletitleclass  { /* Notes For Tag: */
	font-family: Georgia;
	font-size: 16pt;
	color: #BCBAE9;
	background-color: #243CA8; 
}
.booklistspan{
/* width is 25px less than textarea to compensate for no scrollbar */

width:300px;
font-family: Tahoma;
font-size:11px;
 
}
.selectratingclass{
	font-size:11px;
	text-decoration:none;
}
.selectratingclass:hover {
  background-color: YELLOW; 
  font-size:14px;
  
}
.booktableclass{
	border:0;
	background-color: #dfe7ff;
}
.booklistheader{
	font-family: Tahoma;
	font-size: 11pt;
	background-color: #660099;
	color: white;
}
.booklistrowclass{
  position:relative;
   
}
.booklisttitleclass, .booklistauthorclass, .nickclass, .parentclass, .booklistnoteclass, .booklisttagclass,.booklistnumbclass, .updateclass{
	font-family: Tahoma;
	font-size: 10pt;
	background-color: #CFD6EE; 
	
}
.updateclass{
	font-size: 9px;
	color: blue;
	border-radius: 4px;
	border: 1px solid white;
	cursor: hand;
}
.updatebookhead, #updatebooktext{
	font-family: Tahoma,Verdana,Arial,sans serif;
}
.updatebookhead{
	color: #01036E;
	font-size:18px;
	font-weight: bold;
}
#updatebooktext{
	color: #0104BB;
	font-size:14px;
	margin-bottom: 10px;	
}
.displaybtnclass{
	width:40px;
}
.nickclass{
	text-decoration: underline;
}
.booklistauthorclass, .booklistnumberclass{
	
	
}
.booklistnoteclass{
	font-size: 9pt;
	color: #240089;
	width: 10%
	
	
}
.booklistnumbernotesclass{
	width:20px;
	color: #000089;
	text-align:right;
	background-color: #E2FFFA; 
	
}
#updateBookContentsDiv{
 width: 400px;
 position:absolute;
 background-color: #C8DBFF;
 z-index: 1000;
 border: 2px solid blue;
 padding: 10px;
 box-shadow:rgba(0,0,0,0.5) 0px 0px 15px;
 
}
/* #booklisttextarea{
width:325px;
font-family:Verdana;
font-size:11px;
} 
*/
	.notelinetext{
		background-color:#FFCC00;
		word-wrap: true;
		width: 250px;
		height:20px;	
	}
	.notelinepagenumber{

		background-color:#DDCC00;
		word-wrap: false;
		width: 50px;
				height:20px;	
	}
	.notelinetags{
		background-color:#AACC00;
		word-wrap: false;
		width: 150px;
		height:20px;
/*			border-width: 0px;
	border-bottom-width: 5px;	
*/
	}

.book4notes{
	color: #666666;
}
.tagclass{
  font-family: Helvetica Neue,Helvetica,Geneva,Verdana,Sans Serif;
  color: #0080FF;
  box-shadow:rgba(0,0,0,0.5) 0px 0px 8px;
	border-radius: 5px;
	color:#2A3C2E;
	background-color:#95D5A3;
	padding: 2px;
  
}

#notesareadiv{
	background-color:#220000;
}
.tagintitle { /* display tag in "Notes for Tag=" */
	color: #FF0000;
}
/* For the tiny notes in a note row */
.noteinfobookidclass{
	color: #CCCCCC;
	font-size: 8pt;
	font-family:Verdana;
}
.noteinfonoteidclass{
	color: #AAAAAA;
	font-size: 8pt;
	font-family:Verdana;
}
.uiwarning{
 background-color:yellow;
}

